header{
    background-color: rgb(41, 48, 46);
}
.logo{
    width: 200px;
}
.pesquisa{
    width: 50px;
}
main{
    background-color: rgb(40, 65, 58);
}
body{
    background-color: rgb(41, 65, 57);
}
.javascript{
    width: 300px;
}