*{
    margin: 0%;
}
header{

    background-color: rgb(211, 222, 231);   
}
    
.logo{
    width: 200px;
}
.pesquisa{
    width: 50px;
}
main{
    background-color: rgb(218, 232, 243);
}
body{
    background-color: rgb(218, 227, 235);
}
.javascript{
    width: 300px;
}
main img{
    padding: 20px;
}
.pesquisa{
    position:absolute;
    right:0%
}